

<div >



	<p style="text-align:center;">Add Comment to Ticket moror</p>

	<input @bind="commentbox" style="width:60%; height:50%; margin-left:45px;">
	<button type="button" class="btn btn-outline-primary rounded-circle" style="width: 55px; height: 55px; margin-left:10px; margin-top:10px;;" @onclick="()=> SendMessage()"> <i class="fa fa-paper-plane fa-2x" aria-hidden="true" style="align-content:center;display: flex; justify-content: center;"></i></button>

</div>
		




@code{
	private string commentbox;

	void SendMessage()
	{
		// Backend function to send message here

	}

}