@page "/history"
@using System.Collections.ObjectModel;
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@inject Emails emailing;
@attribute [Authorize(Roles = "Administrator, HelpDesk")]

<style>

	body{
		background-color: #92c5ef;
	}
</style>
<h1>Here you see tickets that are done or suspended</h1> 



@code {

  //  List<Datamodel> historyLog;

	protected override async System.Threading.Tasks.Task OnInitializedAsync()
	{
//	historyLog = await emailing.getHistory();
} 

}
