@using System.Collections.ObjectModel;
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@page "/inprogress"

@inject Emails Emailing
@attribute [Authorize(Roles = "Administrator, HelpDesk")]



<style>

	body{
		background-color: #92c5ef;
	}
</style>
<h3>InProgress (@historyListTickets.Count())</h3>
<Showmailsrazor mongoDbList="historyListTickets" />


@code {
	[CascadingParameter] private Task<AuthenticationState> provider { get; set; } = default!;
	private ClaimsPrincipal? user;
	private List<Datamodel> historyListTickets;
	PeriodicTimer periodicTimer = new(TimeSpan.FromSeconds(5));


	protected override async System.Threading.Tasks.Task OnInitializedAsync(){
		// Getting current user data.
		var state = await provider;
		user = state.User;

		// Getting history tickets from backend.
		historyListTickets = await Emailing.GetMessagesDBInProgressUserAsync(user.Identity.Name.ToString());

		RunTimer();
	}
	async void RunTimer()
	{
		// Timer function.
		while (await periodicTimer.WaitForNextTickAsync())
		{
			// Gets list of tickets.
			// Get new emails and updates list.
			historyListTickets = await Emailing.GetMessagesDBInProgressUserAsync(user.Identity.Name.ToString());

			StateHasChanged();



		}
	}
}
