@using System.Collections.ObjectModel;
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject Emails Emailing
@inject AuthenticationStateProvider authStateProvider;
@inject AuthenticationStateProvider context;
@attribute [Authorize(Roles = "Administrator, HelpDesk")]

@page "/inprogress"


<style>

	body{
		background-color: #92c5ef;
	}
</style>
<h3>InProgress</h3>
<h1>@historyListTickets.Count()</h1>
<Showmailsrazor mongoDbList="historyListTickets" />


@code {
	[CascadingParameter] private Task<AuthenticationState> provider { get; set; } = default!;
	private ClaimsPrincipal? user;
	private List<Datamodel> historyListTickets;
	


	//user.Identity.Name.ToString(),
	protected override async System.Threading.Tasks.Task OnInitializedAsync(){
		var state = await provider;
		// This is the current logged in user
		user = state.User;
		historyListTickets = await Emailing.GetMessagesDBInProgressUserAsync(user.Identity.Name.ToString());


	}

}
