
ul[b-3xxtam6d07] {
    font-style: italic;
    font-size: 20px;
 
}
tr[ticketobject] {
    text-align: center;
    font-family: 'Arial Rounded MT';
    font-size: 22px;
    color:white;
    background-color: darkblue;
}
    tr[ticketobject] th {
        max-width: 55vw;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1px;
        padding-right: 1px;
        border-bottom: 3px solid;
    }

        tr[ticketobject] th[buttons] {
           
        }
i[aa] {
margin-left:10px;
}

div[columns] {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
tr[subjects] {
    text-align: center;
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    background-color: lightblue;
    border-left:1px;
    border-right:1px;
    width:80%;
    align-content:center;
    border-bottom: 3px solid;
    color: black;
}
table[tickettable] {
    position: sticky;
    top: 0;
    width: 100%;
    
    
    table-layout: fixed;
    overflow: auto;
    margin-bottom: 40px;
}
div[dialogbox] {
    display: block;
    width: 100vw;

    height: 70vh;
}
div[topbar] {
    font-size: 15px;
    display: flex;
    clear: both;
    align-items: center;
}

h3[alignleft] {
    width: 1300px;
    float: left;
    margin-top:10px;
    align-content:center;
    vertical-align:middle;
   
}

span[alignright] {
    float: right;
    line-height: 50px;

}
.logb {
    align-self: center;
    vertical-align: central;
    background-color: #1C7CFF; /* Green */
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 64%;
    left: 42%;
}
div[logindiv] {
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
}
p[loginbtn]{
    background-color:darkblue;
}
div[container] {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div[container1] {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
 
    width: 650px;
}

#GridID .k-grid-content {
    overflow-y: hidden;
}

.k-grid-header {
    padding: 0px !important;
}

#GridID .k-grid-header {
    padding: 0 !important;
}

#GridID .k-grid-content {
    overflow-y: visible;
}


.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }








.table-fixed {
    margin-left: 25rem;
    margin-top: 10rem;
}

    .table-fixed thead,
    .table-fixed thead > th {
        background: #4d7275;
        color: #fff;
    }

    .table-fixed tbody tr td {
        background: #fff;
    }

    .table-fixed > thead > tr > th {
        border: 0 !important;
    }

    .table-fixed > tbody > tr > td:last-child {
        border-right: 0;
    }

    .table-fixed tbody td,
    .table-fixed thead > tr > th {
        float: left;
        font-size: 14px;
        padding-left: 20px !important;
    }

    .table-fixed .col {
        width: 25%;
    }

    .table-fixed tbody {
        display: block;
        height: 300px;
        overflow-y: auto;
    }

    .table-fixed tr {
        display: block;
    }