body {

}
ul[b-3xxtam6d07] {
    font-style: italic;
    font-size: 20px;
 
}

div[dialogbox] {
    display: block;
    width: 100vw;
    height: 70vh;
}
.logb {
    align-self: center;
    vertical-align: central;
    background-color: #1C7CFF; /* Green */
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 64%;
    left: 42%;
}
div[logindiv] {
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
}
div[container] {
    width:100vw;
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#GridID .k-grid-content {
    overflow-y: hidden;
}

.k-grid-header {
    padding: 0px !important;
}

#GridID .k-grid-header {
    padding: 0 !important;
}

#GridID .k-grid-content {
    overflow-y: visible;
}