@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager navManager;
@using BlazorApp1.Authentication

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-1" style="justify-content: left;">
        <AuthorizeView>
                                
        <Authorized>

                 <h3 align="left" style="text-align:right">Hello @context.User.Identity.Name</h3>
                

           
             <a @onclick="LogOut" href="javascript::void(0)">Logout</a>


        </Authorized>
        

        </AuthorizeView>
     

          </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    	[CascadingParameter]
	private Task<AuthenticationState> authstat { get; set; 
	}
        private async Task LogOut(){
         var customAuthenticationProvider = (CustomAuthenticationProvider)authStateProvider;
            await customAuthenticationProvider.UpdateAuthenticationState(null);
            navManager.NavigateTo("/login", true);
    }
}