
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@using MongoDB.Bson
   <AuthorizeView>
     


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
     
             <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="oi oi-home" aria-hidden="true"></span> Ticket History
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="tickets">
                <span class="oi oi-people" aria-hidden="true"></span> Tickets
            </NavLink>
        </div>
      
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="inprogress">
                <span class="oi oi-home" aria-hidden="true"></span> Your tickets
            </NavLink>
        </div>

     

    @if(user.IsInRole("Administrator")){
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-home" aria-hidden="true"></span> register
            </NavLink>
        </div>  
    }
                
         
       
    </nav>
</div>
    </AuthorizeView>
@code {

    [CascadingParameter] private Task<AuthenticationState> provider { get; set; } = default!;
    private ClaimsPrincipal? user;

    private bool collapseNavMenu = true;
	protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
            	var state = await provider;
		// This is the current logged in user
		user = state.User;
    }
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
