
<div>
	<p style="text-align:center;">Set ticket status</p>

	<BSInput InputType="InputType.Select" @bind-Value="_value">
		<option value="null">Open this select menu</option>
		<option value="1">One</option>
		<option value="2">Two</option>
		<option value="3">Three</option>
	</BSInput>

	<p style="text-align:center;">Write information about status</p>
	<input @bind="solvebox" style="height:125px; width:325px;" />

	<button type="button" class="btn btn-outline-primary" style=" margin-left:10px; margin-top:10px;;" @onclick="()=> SendMessage()">Set Status</button>
</div>
@code {
	private int? _value;
	private string solvebox { get; set; }


	private void SendMessage()
	{
		
	}
}
